<!-- Panel de Visitantes no Condominio -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Visitas Ativas</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2 text-center">Placa</th>
                    <th class="col-md-2 text-center">Visitante</th>
                    <th class="col-md-1 text-center">Bloco</th>
                    <th class="col-md-1 text-center">Apartamento</th>
                    <th class="col-md-2 text-center">Entrada</th>
                    <th class="col-md-2 text-center">Permanência</th>
                    <th class="col-md-2 text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr id="visita_visita.ID">
                    <td class="col-md-2 text-center"> visita.Placa </td>
                    <td class="col-md-2 text-center"> visita.Visitante </td>
                    <td class="col-md-1 text-center"> visita.Bloco </td>
                    <td class="col-md-1 text-center"> visita.Apartamento </td>
                    <td class="col-md-2 text-center"> visita.Entrada </td>
                    <td class="col-md-2 text-center"> visita.Permanencia.Formatada </td>
                    <td class="col-md-2 text-center">
                        <button type="submit" class="btn btn-warning">Saida</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>