<!-- Panel de Cadastro de Visitante -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Cadastro de Visitante</h4></div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="input-group input-group">
                <span class="input-group-addon">Nome</span>
                <input type="text" class="form-control" placeholder="Nome do Visitante" required>
            </div>
            <br>
            <div class="input-group input-group">
                <span class="input-group-addon">Modelo</span>
                <input type="text" class="form-control" placeholder="Modelo do Veiculo">
            </div>
            <br>
            <div class="input-group input-group">
                <span class="input-group-addon">Cor</span>
                <input type="text" class="form-control" placeholder="Cor do Veiculo">
            </div>
            <br>
            <button type="reset" class="btn btn-danger">Limpar</button>
            <button type="submit" class="btn btn-primary pull-right">Registrar Visitante</button>
        </form>
    </div>
</div>