<div>
    <div id="pnlPesquisaPlaca" style="display: none">
        <pesquisa-placa (onSelect)="carregarDados($event)"></pesquisa-placa>
        {{ carro?.id }} - {{ pessoa?.id }}
    </div>
    <div id="pnlCadastroVisita" style="display: none">
        <cadastro-visita></cadastro-visita>
    </div>
    <div id="pnlCadastroVisitante" style="display: none">
        <cadastro-visitante></cadastro-visitante>
    </div>
    <div id="pnlDetalharPessoa" style="display: none">
        <detalhar-pessoa></detalhar-pessoa>
    </div>
    <div id="pnlVisitasAtivas" style="display: none">
        <visitas-ativas></visitas-ativas>
    </div>
</div>