<div #pnlControleEntrada style="display: none">
    <pesquisa-carro (pesquisandoCarro)="fecharPaineis($event)" (carrosRecebidos)="abrirCadastroVisitante($event)" (carroCarregado)="carregarDados($event)"></pesquisa-carro>
    <div #pnlCadastroVisita style="display: none">
        <cadastro-visita [carro]="carro" (cadastrandoVisita)="fecharPaineisCadastro($event)" (visitaCadastrada)="carregarVisita($event)"></cadastro-visita>
    </div>
    <div #pnlCadastroVisitante style="display: none">
        <cadastro-visitante [placa]="placa" (cadastrandoVisitante)="fecharPaineisCadastro($event)" (visitanteCadastrado)="carregarDados($event)"></cadastro-visitante>
    </div>
    <div #pnlVisitasAtivas style="display: none">
        <visitas-ativas (listaVazia)="fecharPainelVisitas()" [visitas]="visitas"></visitas-ativas>
    </div>
</div>
<div class="col-md-12 text-center">
    <!-- Botão para chamada do modal. -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ocorrenciaModal">Registrar Ocorrência</button>
</div>

<!-- Modal -->
<div id="ocorrenciaModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <cadastro-ocorrencia></cadastro-ocorrencia>
                <button type="button" class="btn btn-danger" data-toggle="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>