<div>
    <div id="pnlPesquisaPlaca" style="display: none">
        <pesquisa-carro (carroCarregado)="carregarDados($event)"></pesquisa-carro>
    </div>
    <div id="pnlCadastroVisita" style="display: none">
        <cadastro-visita [pessoa]="pessoa" [carro]="carro" (visitaCadastrada)="carregarVisita($event)"></cadastro-visita>
    </div>
    <div id="pnlCadastroVisitante" style="display: none">
        <cadastro-visitante></cadastro-visitante>
    </div>
    <div id="pnlVisitasAtivas" style="display: none">
        <visitas-ativas></visitas-ativas>
    </div>
</div>