<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Dados do Pessoa.Tipo</h4></div>
    <div class="panel-body">
        <form class="form-horizontal">

            <!-- Dados de Pessoa -->
            <div class="form-group">
                <label class="col-md-2 control-label">Nome</label>
                <div class="col-md-10">
                    <p class="form-control-static">Pessoa.Nome</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Placa</label>
                <div class="col-md-10">
                    <p class="form-control-static">Carro.Placa</p>
                </div>
            </div>

            <!-- Dados de Morador -->
            <div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bloco</label>
                    <div class="col-md-10">
                        <p class="form-control-static">Pessoa.Bloco</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Apartamento</label>
                    <div class="col-md-10">
                        <p class="form-control-static">Pessoa.Apartamento</p>
                    </div>
                </div>
            </div>

            <!-- Dados de Veiculo -->
            <div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Modelo</label>
                    <div class="col-md-10">
                        <p class="form-control-static">Carro.Modelo ? Carro.Modelo : "Não preenchido."</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Cor</label>
                    <div class="col-md-10">
                        <p class="form-control-static">Carro.Cor ? Carro.Cor : "Não preenchido."</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>