<!-- Panel de Visitantes no Condominio -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Visitas Ativas: {{ visitas?.length }}</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2 text-center">Placa</th>
                    <th class="col-md-2 text-center">Visitante</th>
                    <th class="col-md-1 text-center">Bloco</th>
                    <th class="col-md-1 text-center">Apartamento</th>
                    <th class="col-md-2 text-center">Entrada</th>
                    <th class="col-md-2 text-center">Permanência</th>
                    <th class="col-md-2 text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr #tableRow id="visita_{{ visita.id }}" *ngFor="let visita of visitas; let i = index" [ngClass]="{ danger: visita.permanencia.emMinutos >= 2, warning: visita.permanencia.emMinutos >= 1 }">
                    <td class="col-md-2 text-center"> {{ visita.carro?.placa }} </td>
                    <td class="col-md-2 text-center"> {{ visita.carro?.pessoa?.nome }} </td>
                    <td class="col-md-1 text-center"> {{ visita.bloco }} </td>
                    <td class="col-md-1 text-center"> {{ visita.apartamento }} </td>
                    <td class="col-md-2 text-center"> {{ visita.entrada.toLocaleString() }} </td>
                    <td class="col-md-2 text-center"> {{ visita.permanencia.formatada }} </td>
                    <td class="col-md-2 text-center">
                        <button type="submit" class="btn btn-warning" (click)="registrarSaida(visita, tableRow, i)">Saida</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>