<div id="divOcorrencia" ng-controller="ocorrenciaController">

    <!-- Panel de Pesquisa -->
    <div id="pnlPesquisaPlacaOcorrencia" class="panel panel-default">
        <div class="panel-heading">
            <h4>Registro de Ocorrência</h4></div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Placa do Veiculo</span>
                <input id="txtPlacaOcorrencia" type="text" class="form-control" placeholder="AAA-1111" style="text-transform: uppercase" ng-model="Ocorrencia.Placa" />
            </div>
        </div>
    </div>

    <!-- Panel de Visualização de Dados -->
    <div id="pnlOcorrenciaVisualizarPessoa" class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <h4>Dados do {{ Pessoa.Tipo }}</h4></div>
        <div class="panel-body">
            <form class="form-horizontal">

                <!-- Dadis de Pessoa -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{ Pessoa.Nome }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Placa</label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{ Carro.Placa }}</p>
                    </div>
                </div>

                <!-- Dados de Morador -->
                <div id="divOcorrenciaMorador">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Bloco</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Pessoa.Bloco }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Apartamento</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Pessoa.Apartamento }}</p>
                        </div>
                    </div>
                </div>

                <!-- Dados de Veiculo -->
                <div id="divOcorrenciaVeiculo">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Modelo</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Carro.Modelo ? Carro.Modelo : "Não preenchido." }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cor</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Carro.Cor ? Carro.Cor : "Não preenchido." }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Panel de Dados da ocorrência -->
    <div id="pnlCadastoOcorrencia" class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <h4>Dados da Ocorrência</h4>
        </div>
        <div class="panel-body">
            <form ng-submit="registrarOcorrencia()" class="form-horizontal" enctype="multipart/form-data">
                <label for="comment">Descrição da Ocorrência:</label>
                <textarea id="txtOcorrencia" type="text" class="form-control" rows="5" placeholder="Descreva o que ocorreu aqui." ng-model="Ocorrencia.Descricao"></textarea>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Bloco</span>
                    <input type="number" class="form-control" placeholder="Bloco da Ocorrência" ng-model="Ocorrencia.Bloco" required min="1" max="4">
                </div>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Apartamento</span>
                    <input id="txtOcorrenciaApartamento" type="number" class="form-control" placeholder="Apartamento da Ocorrência" ng-model="Ocorrencia.Apartamento" required min="101" max="1508">
                </div>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Data</span>
                    <input id="txtDataOcorrencia" class="form-control" ng-model="Ocorrencia.Data">
                </div>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Foto</span>
                    <input id="arqFoto" type="file" class="form-control" ng-model="Ocorrencia.Arquivos" accept="image/*" max-size="3" bind-file multiple>
                </div>
                <br>
                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary pull-right">Registrar Ocorrencia</button>
            </form>
        </div>
    </div>
    
    <!-- Panel de Uploads Ativos -->
    <div id="pnlUploadsAtivos" class="panel panel-default" style="display: none">
        <div class="panel-heading">
            <h4>Envio de Foto</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">Nome</th>
                        <th class="col-md-2 text-center">Tipo</th>
                        <th class="col-md-1 text-center">Tamanho</th>
                        <th class="col-md-1 text-center">Progresso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="foto in FotosUploading">
                        <td class="col-md-2 text-center">{{ foto.Arquivo.name.toUpperCase() }}</td>
                        <td class="col-md-2 text-center">{{ foto.Arquivo.type.toUpperCase() }}</td>
                        <td class="col-md-1 text-center">{{ (foto.Arquivo.size / 1048576).toFixed(2) }} MB</td>
                        <td class="col-md-1 text-center">{{ foto.Progresso }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    // Configurar Placa Input.
    function configurePlacaOcorrencia() {

        // Recuperar textbox de placa.
        var $txtPlacaOcorrencia = $("#txtPlacaOcorrencia");

        // Mascara do textbox de placa.
        $txtPlacaOcorrencia.mask("SSS-0000");

        // Typeahead configuration.
        var configuration = {};

        // Metodo chamado quando algum item é selecionado.
        // Retorno é colocado dentro do InputText.
        configuration.updater = function(item) {
            var placa = item.substring(0, 8);

            // Carregar placa dentro do Ocorrencia Controller.
            $('#divOcorrencia').scope().loadPlaca(placa);

            return placa;
        };

        // Configuração do AJAX do Typeahead
        configuration.ajax = {
            url: "/api/placas",
            displayField: "displayField",
            triggerLength: 3,
            method: "get",
            // Método chamado antes do dispatch do AJAX.
            preDispatch: function(query) {
                return $('#divOcorrencia').scope().typeahead.preDispatch(query);
            },
            // Método chamado no retorno de dados do serviço REST.
            preProcess: function(data) {
                return $('#divOcorrencia').scope().typeahead.preProcess(data);
            }
        };

        // Configurar o typeahead.
        $txtPlacaOcorrencia.typeahead(configuration);

        var $txtApartamento = $("#txtOcorrenciaApartamento");

        // Validação do apartamento (andar e número).
        $txtApartamento.keyup(function(event) {
            var value = $txtApartamento.val();

            // Se menos caracteres do que o necessário pra validação
            if (value.length < 3) {
                // Deixar o HTML fazer validação default.
                event.target.setCustomValidity("");
                return;
            }

            // Padleft para 4 digitos.
            var pad = "0000";
            value = pad.substring(0, pad.length - value.length) + value;

            // Validar andar (entre 1 e 15) e número do apartamento (entre 1 e 8).
            var andar = value.substr(0, 2);
            var numero = value.substr(2, 2);

            if (andar < 1 || andar > 15) {
                event.target.setCustomValidity("Apartamento invalido.");
            }
            else if (numero < 1 || numero > 8) {
                event.target.setCustomValidity("Apartamento invalido.");
            }
            else {
                event.target.setCustomValidity("");
            }
        });

        var $txtDataOcorrencia = $("#txtDataOcorrencia");
        $txtDataOcorrencia.mask('00/00/0000 00:00:00');
    }

    $().ready(configurePlacaOcorrencia);
</script>