<div id="divVisitas">
    <!-- Panel de Visitas do Condominio -->
    <div id="pnlVisitas" class="panel panel-default">
        <div class="panel-heading">
            <h4>Visitas Cadastradas</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped" ng-show="Visitas.length">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">Placa</th>
                        <th class="col-md-2 text-center">Visitante</th>
                        <th class="col-md-1 text-center">Bloco</th>
                        <th class="col-md-1 text-center">Apartamento</th>
                        <th class="col-md-2 text-center">Entrada</th>
                        <th class="col-md-2 text-center">Saida</th>
                        <th class="col-md-2 text-center">Permanência</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="visita in Visitas | filter : VisitaFilter" ng-class="{ danger: visita.Permanencia.Duracao.asMinutes() >= TempoMaximo, warning: visita.Permanencia.Duracao.asMinutes() >= (TempoMaximo/2) }">
                        <td class="col-md-2 text-center">{{visita.Placa}}</td>
                        <td class="col-md-2 text-center">{{visita.Visitante}}</td>
                        <td class="col-md-1 text-center">{{visita.Bloco}}</td>
                        <td class="col-md-1 text-center">{{visita.Apartamento}}</td>
                        <td class="col-md-2 text-center">{{visita.Entrada}}</td>
                        <td class="col-md-2 text-center">{{visita.Saida}}</td>
                        <td class="col-md-2 text-center">{{visita.Permanencia.Formatada}}</td>
                    </tr>
                </tbody>
            </table>
            <p ng-hide="Visitas.length"> Não há visitas cadastradas.</p>
        </div>
    </div>
</div>