<div id="divOcorrencia" ng-controller="OcorrenciaController">
    <!-- Panel de Pesquisa -->
    <div id="pnlPesquisaPlacaOcorrencia" class="panel panel-default" ng-show="!FotosUploading.length">
        <div class="panel-heading">
            <h4>Registro de Ocorrência</h4></div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Placa do Veiculo</span>
                <input id="txtPlacaOcorrencia" type="text" class="form-control" placeholder="AAA-1111" style="text-transform: uppercase" ng-model="Ocorrencia.Placa" vsg-formatar-placa vsg-typeahead-placa/>
            </div>
        </div>
    </div>

    <!-- Panel de Visualização de Dados -->
    <div id="pnlOcorrenciaVisualizarPessoa" class="panel panel-default" ng-show="Pessoa.ID && Carro.ID && !FotosUploading.length">
        <div class="panel-heading">
            <h4>Dados do {{ Pessoa.Tipo }}</h4></div>
        <div class="panel-body">
            <form class="form-horizontal">

                <!-- Dadis de Pessoa -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{ Pessoa.Nome }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Placa</label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{ Carro.Placa }}</p>
                    </div>
                </div>

                <!-- Dados de Morador -->
                <div id="divOcorrenciaMorador" ng-if="Pessoa.Tipo == 'Morador'">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Bloco</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Pessoa.Bloco }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Apartamento</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Pessoa.Apartamento }}</p>
                        </div>
                    </div>
                </div>

                <!-- Dados de Veiculo -->
                <div id="divOcorrenciaVeiculo">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Modelo</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Carro.Modelo ? Carro.Modelo : "Não preenchido." }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cor</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ Carro.Cor ? Carro.Cor : "Não preenchido." }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Panel de Dados da ocorrência -->
    <div id="pnlCadastoOcorrencia" class="panel panel-default" ng-show="Pessoa.ID && Carro.ID && !FotosUploading.length">
        <div class="panel-heading">
            <h4>Dados da Ocorrência</h4>
        </div>
        <div class="panel-body">
            <form name="formOcorrencia" ng-submit="registrarOcorrencia()" class="form-horizontal" enctype="multipart/form-data">
                <label for="comment">Descrição da Ocorrência:</label>
                <textarea name="descricao" id="txtOcorrencia" type="text" class="form-control" rows="5" placeholder="Descreva o que ocorreu aqui." ng-model="Ocorrencia.Descricao" required></textarea>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Bloco</span>
                    <input name="bloco" type="number" class="form-control" placeholder="Bloco da Ocorrência" ng-model="Ocorrencia.Bloco" required min="1" max="4">
                </div>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Apartamento</span>
                    <input name="apartamento" id="txtOcorrenciaApartamento" type="number" class="form-control" placeholder="Apartamento da Ocorrência" ng-model="Ocorrencia.Apartamento" required min="101" max="1508">
                </div>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Data</span>
                    <input name="data" id="txtDataOcorrencia" class="form-control" ng-model="Ocorrencia.Data" required>
                </div>
                <br>
                <div class="input-group input-group">
                    <span class="input-group-addon">Foto</span>
                    <input id="arqFoto" type="file" class="form-control" ng-model="Ocorrencia.Arquivos" accept="image/*" max-size="3" vsg-bind-file multiple>
                </div>
                <br>
                <div>
                    <ul ng-if='formOcorrencia.descricao.$dirty' ng-messages="formOcorrencia.descricao.$error" style="color:maroon" role="alert">
                        <li ng-message="required">Favor, preencher a descrição da ocorrência.</li>
                    </ul>
                    <ul ng-if='formOcorrencia.bloco.$dirty' ng-messages="formOcorrencia.bloco.$error" style="color:maroon" role="alert">
                        <li ng-message="required">Favor, preencher o bloco.</li>
                        <li ng-message="min">Bloco deve ser maior que 1.</li>
                        <li ng-message="max">Bloco deve ser menor que 4.</li>
                    </ul>
                    <ul ng-if='formOcorrencia.apartamento.$dirty' ng-messages="formOcorrencia.apartamento.$error" style="color:maroon" role="alert">
                        <li ng-message="required">Favor, preencher o apartamento.</li>
                        <li ng-message="min">Apartamento deve ser maior que 101.</li>
                        <li ng-message="max">Apartamento deve ser menor que 1508.</li>
                    </ul>
                    <ul ng-if='formOcorrencia.data.$dirty' ng-messages="formOcorrencia.data.$error" style="color:maroon" role="alert">
                        <li ng-message="required">Favor, preencher a data da ocorrência.</li>
                    </ul>
                    <br>
                </div>
                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
            </form>
        </div>
    </div>

    <!-- Panel de Uploads Ativos -->
    <div id="pnlUploadsAtivos" class="panel panel-default" ng-show="FotosUploading.length">
        <div class="panel-heading">
            <h4>Envio de Foto</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">Nome</th>
                        <th class="col-md-2 text-center">Tipo</th>
                        <th class="col-md-1 text-center">Tamanho</th>
                        <th class="col-md-1 text-center">Progresso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="foto in FotosUploading">
                        <td class="col-md-2 text-center">{{ foto.Arquivo.name.toUpperCase() }}</td>
                        <td class="col-md-2 text-center">{{ foto.Arquivo.type.toUpperCase() }}</td>
                        <td class="col-md-1 text-center">{{ (foto.Arquivo.size / 1048576).toFixed(2) }} MB</td>
                        <td class="col-md-1 text-center">{{ foto.Progresso }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    // Configurar Placa Input.
    function configureInputFields() {
        // Configurar mascara do campo de data da ocorrência.
        var $txtDataOcorrencia = $("#txtDataOcorrencia");
        $txtDataOcorrencia.mask('00/00/0000 00:00:00');
    }

    $().ready(configureInputFields);
</script>